$green-color1: #2cbf52;//#a652a8; ///#c1e7fa;//
$base-color1: #2cbf52; ///#c1e7fa;//
$base-color2: #44d569;
$base-color3: #e191e2;
$base-color-table: #c38ac4;
$form-bg-color: #f2f2f2;
$red-color1: #d81428;
$bg-color: #f9f9f9;
$header-color: #323232;
$text-color: #5e5e5e;
$light-blue-color: #e5edec;
