@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;

  }
  transition: scrollbar-color, scrollbar-face-color,  0.5s ease-out;
  
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 5px;
    
    

  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    margin-bottom: 10px;

    
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
  // For Firefox

  scrollbar-color:  $foreground-color $background-color;
  scrollbar-width: $size;
}
